/*
* Theme File for Rate My Business
* Created by: Andrey Alda
*/


/* General */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body{
	font-family: 'Raleway', sans-serif;
}

p.alternative-font-style{
	font-family:'Lato', sans-serif;
	font-size:18px;
}

/* 
Insert fonts for all text types 
EX: H1,H2,H3,H4,H5,H6,blockquote, etc... 
*/

body.alt{
	background: #D3D3D3;

}
/* Header  */
header{
	background:#2eabae;
}

header button {
	margin-top:0;

}

header.alt{
	background: #D3D3D3;
	margin-bottom:10px;
}

header.alt .logo {
    padding: 0;
}

header.alt .box-type{
	margin-top:40px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

/* Logo START */

header .logo{
	max-width:25px;
	padding: 0;
}
.logo{
	padding:40px 0px 20px;
}
header.alt .logo img{
	max-width:150px;
	width:100%;
	display:block;
	margin:0 auto;
}

.logo h1{
	font-size:30px;
	color:#ffffff;
}

.logo a:hover{
	text-decoration:none;
}

/* Logo END */

.container-fluid {
    padding: 0;
}

/* Navigation */

nav{
	background: #176383;
	font-size: 
}

ul.main-navigation{
	margin:0;
	padding:20px 0 20px;
	list-style-type:none;
	float:right;
}

.main-navigation li > a{
	color:#E9ECCF;
}

.main-navigation li{
	margin-right:50px;
	display:inline;
}

.main-navigation a{
	font-size:24px;
}
/* Sidebar START*/
.sidebar-toggled #sidebar-left {
    width: 0;
}
#sidebar-left {
	width:90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/* Sidebar END*/

/*Content Section*/
#wrapper {
	
}
#wrapper #content-wrapper {
	padding:0 0 80px;
	width:100%;
}

.breadcrumb {
    padding: 1rem;
	margin: 1rem;
}



/* Section Default */
section {

}
section.alt {
	padding-top:0px;
	padding-bottom:0px;
}

/* Homepage */

.score-section {
    width: 100%;
    float: left;
	margin-bottom:20px;
}

.ratings-star {
	float:left;
}
.score {
    color: #63b446;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.company-name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #176383;
	margin-bottom:0px;
}

.date-founded {
    font-size: 16px;
    font-weight: bold;
    color: #de4407;
    margin-bottom: 20px;
}

.rate-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #de4407;
    font-weight: bold;
}

.rate-btn:hover {
	text-decoration:none;
}

.company-desc {
    font-size: 16px;
    color: #636363;
}

.company-profile {
    margin: 20px 20px 80px;
    padding: 10px 10px 0px;
    border-bottom: 1px solid #000;
}


/* Form - Registration */

input {
    width: 100%;
    padding: 5px;
	font-size:16px;
}

label {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
	font-weight:bold;
}

.error-msg {
    margin-bottom: 10px;
    min-height: 20px;
}

.error p {
	text-align:center;
}

.error-msg p, .error p{
	color:red;
	font-size:16px;
    margin-bottom: 0px;
}

div.login-button-group{
	width:50%;
}

.main-content input[type="submit"],.main-content button {
	font-size:18px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 10px;
    background: #3399CC;
    border: 0;
    text-transform: uppercase;
	max-width:200px;
	width:100%;
	float:right;
	display:block;
}

.main-content input[type="submit"]:hover, .main-content button:hover {
    background: #37FDFC;

}
/* Login Page*/
.custom-login-icon {
    color: #dad8d8 !important;
    position: absolute;
    right: 35px;
    margin-top: 10px;
}

section .box-type{
	padding: 40px 20px;
	background:#ffffff;
}

label.check {
    float: left;
    display: inline-block;
	font-weight:normal;
}

#remember {
    display: inline;
    float: left;
    width: 20px;
    margin: 10px 2px;
}

/* Reviews Page*/
input[type="radio"] {
    float: left;
    width: 30px;
    margin-top: 10px;
}

textarea#comment {
    float: left;
    display: block;
    width: 100%;
}

/* Footer */
footer{
	background: #000000;
	color:#ffffff;
    font-size: 12px;
    font-weight: normal;

}


footer.alt{
	background: #D3D3D3;
	color:#000000;
	border-top:none;
	margin:0;
    padding: 0;
}

footer .footer-logo{
	margin-bottom:20px;
}
	
/* copyright */
footer.alt .box-type .copyright{
}
.copyright {
	line-height: 32px;
	margin:0;
}

@media (min-width: 768px) {
	.sidebar-toggled #sidebar-left {
		width: 90px !important;
		max-width: 90px;
	}
	.sidebar-toggled #content-wrapper{
		flex-basis:calc(100vw - 90px);
		max-width:calc(100vw - 90px) !important;
		width: calc(100vw - 90px) !important;
	}

}