/*
* Theme File for Rate My Business
* Created by: Andrey Alda
*/


/* General */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body{
	height:100%;
}
body{
	font-family: 'Raleway', sans-serif;
}


p.alternative-font-style{
	font-family:'Lato', sans-serif;
	font-size:18px;
}

.bg-dark{
	background-color: #084582 !important;	
}

/* 
Insert fonts for all text types 
EX: H1,H2,H3,H4,H5,H6,blockquote, etc... 
*/

body.alt{
	background: #D3D3D3;

}

section.alt {
	padding-top:0px;
	padding-bottom:0px;
}

/* Dashboard - Navbar */
.navbar img.logo {
    width: 50px;
}

.fa, .fas {
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link .badge {
    font-size: 0.7rem;
    top: 0.01rem;
    margin-left: 1.2rem;
}
/* Dashboard - Sidebar */
li.nav-item.active, li.nav-item:hover {
    background: #000;
}

/* Form - Registration */
input {
    width: 100%;
    padding: 5px;
	font-size:16px;
}

label {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
	font-weight:bold;
}

.error-msg {
    margin-bottom: 10px;
    min-height: 20px;
}

.error p {
	text-align:center;
}

.error-msg p, .error p{
	color:red;
	font-size:16px;
    margin-bottom: 0px;
}

div.login-button-group{
	width:50%;
}

.main-content input[type="submit"],.main-content button {
	font-size:18px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 10px;
    background: #3399CC;
    border: 0;
    text-transform: uppercase;
	max-width:200px;
	width:100%;
	float:right;
	display:block;
}

.main-content input[type="submit"]:hover, .main-content button:hover {
    background: #37FDFC;

}
/* Login Page*/
.custom-login-icon {
    color: #dad8d8 !important;
    position: absolute;
    right: 35px;
    margin-top: 10px;
}

section .box-type{
	padding: 40px 20px;
	background:#ffffff;
}

label.check {
    float: left;
    display: inline-block;
	font-weight:normal;
}

#remember {
    display: inline;
    float: left;
    width: 20px;
    margin: 10px 2px;
}

header.alt{
	background: #D3D3D3;
	margin-bottom:10px;
}

header.alt .box-type{
	margin-top:40px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
header.alt .logo {
    padding: 0;
	max-width:150px;
	margin:0 auto;
}
header.alt .logo img{
	max-width:150px;
	width:100%;
	display:block;
	margin:0 auto;
}

footer.alt{
	background: #D3D3D3;
	color:#000000;
	border-top:none;
	margin:0;
    padding: 0;
}